name: Gradle Package (Development)

on:
    workflow_dispatch:
        inputs:
            run-build-scan:
                description: 'Run with public build scan (adds --scan)'
                required: true
                type: boolean
                default: false
            publish-artifacts:
                description: 'Upload to Modrinth & API? (Uncheck for a dry run)'
                type: boolean
                default: true
            runner:
                description: 'The runner to use for the build job.'
                required: false
                type: string
                default: 'tenki-standard-autoscale'
    push:
        branches:
            - 'main'
            - '2.0'
            - 'dev'
            - 'release'
            - 'release/**'
        paths:
            - 'bukkit/**'
            - 'common/**'
            - 'fabric/**'
            - '**.java'
            - '**.kt'
            - '**.kts'
            - '**.toml'
jobs:
    call-build-workflow:
        uses: ./.github/workflows/build-and-publish.yml
        with:
            runner: ${{ github.event.inputs.runner || 'tenki-standard-autoscale' }}
            is-release-build: false
            release-version-type: alpha # Dev builds are always 'alpha'
            run-build-scan: ${{ github.event.inputs.run-build-scan == 'true' }}
            publish-artifacts: ${{ github.event.inputs.publish-artifacts != 'false' }}
        secrets:
            MODRINTH_ID: ${{ secrets.MODRINTH_ID }}
            MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
            BUILD_UPDATE_TOKEN: ${{ secrets.BUILD_UPDATE_TOKEN }}
            BUILD_UPDATE_URL: ${{ secrets.BUILD_UPDATE_URL }}
